<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UnisciPdf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <UnisciPdf.Properties.Settings>
            <setting name="DestinationFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CompressionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CutMargins" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CutMargins_Top_Points" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="CutMargins_Bottom_Points" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="CutMargins_Left_Points" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="CutMargins_Right_Points" serializeAs="String">
                <value>48</value>
            </setting>
        </UnisciPdf.Properties.Settings>
    </userSettings>
</configuration>
